.cards__card{
	height: 300px;
	width: 200px;
	font-size: 0.4rem;
}
.cards{
	display: flex;
	align-items: center;
	justify-content: center;
}
.cards__container{
	display: flex;
	justify-content: space-between;
	width: 50%;
}
.header{
	height: 50vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.liste-taches__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 600px;
	height: 100px;
	border:1px black solid;
}
.taches-delete {
 background-color: red;
}
.taches-modify{
background-color: blue;
}
.btn-save {
	background-color: green;
}
button {

}

#listeTaches {
	display: flex;
	flex-direction: column;
}

.titre-tache{
	
}
.input-title {
	width: 50%;
}